@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* Optional: Set a fallback color in case the image loads slowly */
  background-color: #000; 
  -webkit-font-smoothing: antialiased;
}