@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  -webkit-font-smoothing: antialiased;
}

.mesh-gradient-bg {
  background:
    radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%),
    radial-gradient(at 100% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 100% 100%, hsla(339, 49%, 30%, 1) 0, transparent 50%),
    radial-gradient(at 0% 100%, hsla(253, 16%, 7%, 1) 0, transparent 50%);
  background-color: #f3f4f6;
}

.glass-container {
  background: linear-gradient(
    135.75deg,
    rgba(255, 255, 255, 0.54) 0%,
    rgba(255, 255, 255, 0.48) 100%
  );
  border: 1px solid;
  border-image-source: linear-gradient(
    135.75deg,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
